NEXT_PUBLIC_API_URL="http://localhost:1337"
NEXT_PUBLIC_API_HOST="localhost:1337"
NEXT_STRAPI_API_TOKEN="toBeGenerated"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_SENTRY_DSN="toBeGenerated"

NEXT_ADOPT_WEBSITE_ID="toBeGenerated"

NEXT_GOOGLE_TAG_MANAGER_ID="toBeGenerated"

NEXT_HOTJAR_ID="toBeGenerated"
NEXT_HOTJAR_SNIPPET_VERSION=6

NEXT_PUBLIC_CONTRACT_ADDRESS="toBeGenerated"